@model IEnumerable<BugTrackerDef.Domain.Project>

@{
    ViewData["Title"] = "GetAllProjects";
    Layout = "~/Views/AdminPanel/_AdminLayout.cshtml";
}

<p>
    <a asp-action="CreateProject">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="AdminPanel" asp-action="DetailsProject" asp-route-id="@item.ProjectID">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProject", new {  id=item.ProjectID }) |
                @Html.ActionLink("Delete", "DeleteProject", new { id = item.ProjectID })
            </td>
        </tr>
}
    </tbody>
</table>
