@model IEnumerable<BugTrackerDef.Domain.Ticket>
@{
    ViewData["Title"] = "GetUserTickets";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h4>Your Tickets</h4>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="DetailsTicket" asp-route-id="@item.TicketID">@item.Description</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedDev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTicket", new { id = item.TicketID })
                </td>
            </tr>
        }
    </tbody>
</table>

